* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        90deg,
        rgb(202, 189, 10) 0,
        rgb(126, 12, 107)95%
    );
    padding: 10px;
}

.logo-link {
    text-decoration: none;
    color: black;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.nav-link:hover {
    color: black;
}