* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
  }
  


.aside {
    background: linear-gradient(
        90deg,
        rgb(3, 110, 17) 0,
        rgb(249, 250, 249)70%
    );
    padding: 10px;
    padding-right: 0;
    position: sticky;
    top: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


.logo-link {
    text-decoration: none;
    color: black;
    padding: 30px;
}


.nav-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 5px;
    padding-right: 0;
    gap: 2rem;
    margin-bottom: 5rem;
}
.nav-menu li:hover {
    background-color: white;
}

.nav-link {
    text-decoration: none;
    width: 100%;
    color: white;
    font-weight: 900;
}

.nav-link:hover {
    color: black;
}

.carrito{
    padding: 5px;
    text-decoration: none;
}

.item-list-container{
    background-color: brown;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    max-width: 756px;
}

.productos-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.producto {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.main-content {
    background: linear-gradient(
        90deg,
        rgb(249, 250, 249) 0,
        rgb(11, 22, 13)95%
    );
    width: 100%;
}

